/* src/Components/AnimatedButton.css */
.demo {
    position: relative;
    width: 80px;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid white;
    background: #00fffc;
    transition: background-color 1s;
    cursor: pointer;
  }
  
  .demo:before,
  .demo:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 100%;
    width: 14%;
    height: 6px;
    background: #00fffc;
    transform: scaleX(0);
    transform-origin: 0 100%;
  }
  
  .demo:after {
    left: 19%;
    width: 66%;
  }
  
  .demo.s--processing {
    background-color: #53e2c2;
    transition-delay: 4.6s;
  }
  
  .demo.s--processing:before,
  .demo.s--processing:after {
    transform: scaleX(1);
    background-color: #36d09d;
  }
  
  .demo.s--processing:before {
    transition: transform 0.6s 1.4s, background-color 1s 4.6s;
  }
  
  .demo.s--processing:after {
    transition: transform 2.4169014085s 2.4s, background-color 1s 4.6s;
  }
  
  .demo.s--reverting {
    background-color: #00fffc;
    transition: background-color 0.5s 0.96s;
  }
  
  .demo.s--reverting:before,
  .demo.s--reverting:after {
    opacity: 0;
  }
  
  .demo svg {
    overflow: visible;
    fill: none;
    stroke-linejoin: round;
  }
  
  .demo__drone {
    position: absolute;
    left: 16px;
    top: -12px;
    width: 68px;
    height: 56px;
    stroke: #000;
    stroke-width: 2px;
    fill: none;
  }
  
  .demo__drone-green {
    fill: #61d4f1;
  }
  
  .demo__drone-arm {
    --rotation: 0deg;
    transform-origin: 68px 56px;
    transform: rotate(var(--rotation));
  }
  
  .demo__drone-arm--2 {
    transform: scaleX(-1) rotate(var(--rotation));
  }
  
  .demo.s--processing .demo__drone {
    transform-origin: 50% 100%;
    -webkit-animation: tiltAnim 3.8s 1.2s;
    animation: tiltAnim 3.8s 1.2s;
  }
  
  @-webkit-keyframes tiltAnim {
    8%, 24% {
      transform: rotate(0);
    }
    35%, 70% {
      transform: rotate(8deg);
    }
    85% {
      transform: rotate(-4deg);
    }
    95%, 100% {
      transform: rotate(0);
    }
  }
  
  @keyframes tiltAnim {
    8%, 24% {
      transform: rotate(0);
    }
    35%, 70% {
      transform: rotate(8deg);
    }
    85% {
      transform: rotate(-4deg);
    }
    95%, 100% {
      transform: rotate(0);
    }
  }
  